@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  .flex-col {
    display: flex;
  }

  .hidden {
    display: none;
  }

  .block {
    display: block;
  }
}
